/* login */
.login_bg { width:100%; height:100%; background: #FDFDFD url(images/login_bg02.gif) repeat-x center top; }

.all{ height: 556px; width:100%; text-align: center; background: url(images/login_bg01.jpg) no-repeat center top; }

.log_t{ width: 670px; height: 442px; padding: 0px; position: relative; margin:40px auto 0 auto; }

.webname { height: 50px; width: 300px; font-size: 24px; font-weight: bold; text-align: center; position: absolute; color: #fff; left: 29px; top: 25px; z-index:1; line-height:50px; font-family:"黑体";display:none;}

.name2{ height: 30px; width: 300px; font-size: 16px; font-weight: bold; text-align: center; position: absolute; color: #fff; left: 29px; top: 109px; z-index:2; display:none; }

.login_form { width:225px; position:absolute; z-index:10; top:142px; left:420px; }

.login_form div { height:32px; color:#3F3F3F; text-align:left; }

.login_form label { width:62px; display:block; float:left; text-align:right; margin-right:5px; line-height:24px;}

.login_form .log_submit { margin-top:25px; width:100%; text-align:center;}

.log_input{ width: 135px; }

.copyright{/* height: 19px; padding: 4px 0 0 0;*/ line-height:24px; text-align: center; color: #0D4A69; height:48px; }


/* head */
.top_bg { background: url(images/top_bg.gif) repeat-x;}

.top{ background: url(images/top.gif) no-repeat 0 0; height: 92px; }

.top h1{ width: 575px; height: 92px; float: left; text-indent: -1000px; }

.t{ height: 90px; float: left; }

.t01{ padding: 10px 0; color: #FFFFFF; font-weight: bold; }

.t02{ padding: 8px 0 0 0; text-align: right; color: #FFFFFF; }

.help { position:absolute; left:895px; top:67px; width:70px; height:15px; color:#0071BC; float:left; background:url(images/icon.gif) no-repeat 0px -149px; padding-left:20px;}

.help a:link,.help a:visited,.help a:hover,.help a:active{ color:#0071BC; text-decoration:none; float:left; filter:
	DropShadow(offx=1,offy=0,color=#ffffff)
	DropShadow(offx=0,offy=1,color=#ffffff)
	DropShadow(offx=-1,offy=0,color=#ffffff)
	DropShadow(offx=0,offy=-1,color=#ffffff);}

/* left */
.left_bg { background:url(images/left_bg.gif) no-repeat 0 bottom;height:auto!important; height:450px;min-height:450px; overflow:visible; }

.show{ padding: 6px 0 0 18px; background: url(images/left01.gif) no-repeat 0 0; width: 171px; height: 22px; color:#000000; }

.shouye{ float: left; width: 30px; margin: 0; padding: 0 0 0 5px; }

.shezhi{ float: left; width: 55px; margin: 0; padding: 0 0 0 25px; }

.tuichu{ float: left; width: 25px; margin: 0; padding: 0 0 0 25px; }

.memu { width: 192px; margin-left:3px;}

.memu ul{ margin: 2px 0 0 0px; padding: 0; height: auto;}

.memu li{ background: url(images/button_bg.gif) no-repeat 0 -121px; text-indent:30px; line-height:24px; margin-bottom:4px; list-style:none; width:185px; overflow-x:hidden;}

.memu li a:link,.memu li a:visited{ color: #333333; }

.memu li a:hover,.memu li a:active{ color: #9F26521; border:none;}

.submemu { width: 100%; }

.submemu ul{ margin: 2px 0 0 0px; padding: 0; height: auto; }

.submemu li{ background: url(images/button_bg.gif) no-repeat 0 -149px; padding:0px; line-height:22px; margin:0;}

.submemu li a:link,.submemu li a:visited{ color: #336699; }

.submemu li a:hover,.submemu li a:active{ color: #F26521; }
.submemu li ul { margin-left:30px;}
/* bar */
.bar_bg {background:url(images/bar_bg.gif) repeat-y -20px 0px;}

.bar_bg2{ width: 10px; padding: 190px 0 0 0; text-align: center; background:url(images/bar_bg.gif) no-repeat 0px 0px; }

.bar_arrow { width:6px; height:23px; border:1px solid #CADBE5; background:#22749C; cursor:pointer; text-align:center; padding-top:15px; overflow:hidden; display:block;}

/* bottom */
.bottom{/* height: 19px; padding: 4px 0 0 0;*/ height:23px; line-height:23px; overflow:hidden; text-align: center; color: #0D4A69; background: url(images/bottom.gif) no-repeat 0 -1px; }

/* error */
.error{ width: 380px; height: auto; margin: 100px auto 0 auto; background: url(images/error.gif) no-repeat 0 0; border-bottom: 1px solid #3FA5D6; }

.e_01{ font-size: 14px; font-weight: bold; color: #166993; padding: 7px 0 0 32px; }

.e_02{ font-size: 14px; color: #F46523; text-indent: 2em; padding: 40px 20px 30px 140px; }

.e_03{ font-size: 14px; font-weight: bold; color: #166993; padding: 0 20px 15px 0; text-align: right; }

/* main */
.main_bg { background:url(images/main_bg.gif) repeat-y right 0; padding:0px 1px 0 0;}

.weizhi{ font-weight: bold; height: 29px; border: 1px solid #22749C; padding: 0; line-height: 29px; color: #0D4A69; background:#D6ECF7 url(images/bg_x.gif) 0px -86px repeat-x; margin:0 0 15px 0;}

.weizhi_icon { background: url(images/icon.gif) no-repeat 8px -168px; height: 25px; width: 28px; margin: 0px; padding: 0px; float: left; }

.content { width: 98%; margin: 0 auto 0 auto; }

.innerbutton{ background: url(images/line.gif) repeat-x 0 bottom; height: 30px; margin:0; margin-bottom:10px; padding: 0; width: 100%; }

.innerbutton li { float: left; height: 30px; padding:0 10px; text-align: center; font-weight: bold; font-size: 12px; line-height: 30px; cursor: pointer; margin: 0 0 0 4px; background-image: url(images/bg_x.gif); background-repeat: repeat-x; list-style-type: none; margin-bottom: 3px; border-left:1px solid #83BBD9; border-right:1px solid #83BBD9;}

.buttonbg1 { background-position: 0 -144px; }

.buttonbg2 { background-position: 0 -179px; }

/* search */
.search_k { margin:5px auto; width: 98%; }

.search { border: 1px solid #999999;}

.search legend { width:auto; padding-left:5px; margin-left:10px; }

.search_content { font-size: 12px; line-height: 100%; padding: 10px; }

.select { width: 98%; text-align: right; margin: 10px auto; clear: both;}

/* table */
/*.table_bg table { fason: expression(cellSpacing=1,cellPadding=3, border=0); background: #d0d0d0; margin:10px auto 0 auto; width: 98%; clear:both;}

.table_bg th { height: 27px; line-height: 27px; color: #014F7F;  background:url(images/bg_x.gif) 0px -56px repeat-x; padding: 0px 3px 0px 3px; white-space: nowrap; text-align: center; }

.table_bg tr { background-color: #ffffff!important; background-color: expression((this.sectionRowIndex%2==0)?"#ffffff":"#F3FCFF"); }*/

.table_bg table{ background: #fff; fason: expression(cellSpacing=0,cellPadding=0, border=0); width: 98%; margin:10px auto; border:1px solid #6f9dd9; }

	.table_bg table th { height: 29px; line-height: 29px; background:url(images/table_th_line.gif) repeat-x; font-size: 12px;color: #7d7c7c; text-align:left; font-weight:normal; padding-left:7px; }
	.table_bg table .th2 { height: 27px; line-height: 27px; text-align:left;padding-left:7px;font-size:14px; font-weight:bold; color:#000000; margin-top:10px; background-image:url(images/listheadergrad.gif);; background-color:#FFFFFF; border-top:1px solid #6f9dd9; cursor:hand;}	
	.table_bg table td { padding-left:7px;border-bottom: 1px solid #fff; height: 30px; line-height: 30px; color: #03578d; font-size:12px;}
	.table_bg table td img{ margin-right:3px;vertical-align: middle;}
	.table_bg table td h2{ font-size:14px; font-weight:normal;}
	.table_bg table td small { font-size:12px; color:#808080; }
	.table_bg table .tr1{ background-color:#fff;}
	.table_bg table .tr2{ background-color:#edf3fe;}
	.table_bg table .tr3{ border-top:3px dotted #6f9dd9;}
	.table_bg table .tbody tr{ background-color:#fff090!important;}
		
#main_table tr.color1{background-color:#edf3fe;}
/*第二种颜色*/
#main_table tr.color2{background-color:#FFFFFF;}
	
	
.table_bg2 table { fason: expression(cellSpacing=1,cellPadding=0, border=0); background: #D5D5D5; margin:0 auto; width: 98%; clear:both;}

.table_bg2 tbody { width:100%;}

.table_bg2 th { background: #D8ECF5; text-align: center; color: #333333; border-left:1px solid #ffffff; border-top:1px solid #ffffff;}

.table_bg2 tr { background:#ffffff; line-height: 150%; width:100%;}

.table_bg2 .td1{ background: #F0F6FE; font-weight: bold; color: #444444; border-left:1px solid #ffffff; border-top:1px solid #ffffff;}

.table_bg2 .td2{ background: #F0F6FE; color: #444444; border-left:1px solid #ffffff; border-top:1px solid #ffffff;}

/* page_number */
.fenye{ background: #F4F8FE; height: 25px; line-height: 150%; text-align: center; color: #444444; }

.nx { font-family: Webdings; font-size: 12px; }

.submi{ padding: 30px 0 0 0; text-align: center; }

/* operation */
.edit { color: #333333; background: url(images/icon.gif) no-repeat 0px -0px; padding-left: 15px; white-space: nowrap; width: 40px; }

.delete { color: #333333; background: url(images/icon.gif) no-repeat 0px -25px; padding-left: 14px; white-space: nowrap; }

.add { color: #333333; background: url(images/icon.gif) no-repeat 0px -45px; padding-left: 14px; white-space: nowrap; width: 40px; }

.down { color: #333333; background: url(images/icon.gif) no-repeat 0px -66px; padding-left: 14px; white-space: nowrap; width: 40px; }

.go { color: #333333; background: url(images/icon.gif) no-repeat 0px -89px; padding-left: 14px; white-space: nowrap; }

.move { color: #333333; background: url(images/icon.gif) no-repeat 0px -106px; padding-left: 14px; white-space: nowrap; width: 40px; }

.up { color: #333333; background: url(images/icon.gif) no-repeat 0px -127px; padding-left: 14px; white-space: nowrap; width: 40px; }

/*form*/

.input_style1{ height: 23px; border: 1px solid #7F9DB9; font-size: 12px; line-height: 23px; }

.input_btn_style1{ background:#ffffff url(images/bg_x.gif) 0px 0px repeat-x; height: 23px; border: 1px solid #7F9DB9; color: #1E5494; font-size: 12px; line-height: 20px; text-align: center; }

.input_btn_style2 { background:#ffffff url(images/bg_x.gif) 0px -28px repeat-x; height: 23px; border: 1px solid #ffab08; font-size: 12px; line-height: 19px; }

.input_btn_style3 { background:#F5FFFF url(images/bg_x.gif) 0px -120px repeat-x; height: 21px; border: 1px solid #4E97C0; font-size: 12px; line-height: 19px; color:#124061; font-weight:bold; padding:0 4px; letter-spacing: 1em;}

.input_btn_style4 { background:#F5FFFF url(images/button_bg.gif) 0px 0px no-repeat; height: 36px; width:68px; font-size: 12px; line-height: 20px; color:#11405E; font-weight:bold; text-align:center; letter-spacing: 1em; border:0; padding-bottom:15px;}


/* steps */
.steps { width: 680px; height: 36px; line-height: 36px; font-size: 12px; color:#000; text-align:left; }
	
	.steps ul { height:36px; list-style-type: none; margin:0; padding: 0px 20px 0px 0px;/* width:840px; */}
	
	.steps li { float: right; width:auto; height: 36px; margin:0; text-indent:0; padding:0 5px 0 24px; /*background: url(images/lc.gif) no-repeat left 0px;*/ position: relative; text-align: center; display:inline; }
	
	.steps li span { display:block; /*background: url(images/lc.gif) no-repeat right 0px;*/ height: 36px;width: 20px;position: absolute;top: 0px;right: -20px;}
	.steps li strong { display:block; /*background: url(images/lc.gif) no-repeat right -181px;*/ height: 36px;width: 20px;position: absolute;top: 0px;right: -20px;}
	
	.steps li.steps_a { background: url(images/lc.gif) no-repeat left -55px; color:#FFFFFF; }
		.steps li.steps_a span { background: url(images/lc.gif) no-repeat right -55px;}
		.steps li.steps_a strong { background: url(images/lc.gif) no-repeat right -236px;}
	
	.steps li.steps_b {background: url(images/lc.gif) no-repeat left -110px;}
		.steps li.steps_b span { background: url(images/lc.gif) no-repeat right -110px;}
		.steps li.steps_b strong { background: url(images/lc.gif) no-repeat right -291px;}
	
	.steps li.steps_c {background: url(images/lc.gif) no-repeat left -345px;}
		.steps li.steps_c span { background: url(images/lc.gif) no-repeat right -345px;}
		.steps li.steps_c strong { background: url(images/lc.gif) no-repeat right -391px;}

.module { padding:10px; }		
.module .title { height:25px; line-height:25px; margin-bottom:10px; }
.module .title h2 { font-size:14px; margin:0; padding:0; display:inline; }
.module .title * { vertical-align:middle; }

.tips { border:1px solid #8c8c8c; background:#ffffcc; padding:5px; margin:10px; }
.tips em { color:#f60; }
.tips em a,
.tips em a:visited { color:#f60; text-decoration:underline; }
.tips em a:hover { text-decoration:none; }
ol { list-style:none;}
ol li { margin-bottom:10px; }
ol small { font-size:12px; color:#808080;}

a.link1 { color:#36f; text-decoration:underline; }
a.link1:visited { color:#36f; text-decoration:underline; }
a.link1:hover { text-decoration:none; }
a.link1 * { vertical-align:middle; }